{% extends "base/base.html" %}
{% block head %}
<style>
    .sidebar {
      background-color: ghostwhite;
      padding: 20px;
      box-sizing: border-box;
    }
  
    .profile {
      background-color: ghostwhite;
      text-align: center;
      margin-bottom: 30px;
    }
  
    .profile-photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
    }
  
    .avatar-photo {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .profile-name {
      font-size: 24px;
      margin: 10px 0;
    }
  
    .profile-title {
      font-size: 14px;
      color: #666;
      margin: 0;
    }
  
    .contact-info {
      font-family: Arial, sans-serif;
      color: #333;
      border-top: 1px solid #ccc;
      padding-top: 20px;
      margin-top: 30px;
    }
  
    .contact-info-title {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 20px;
    }
  
    .contact-info ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .contact-info ul li {
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
  
    .contact-info ul li:last-child {
      border-bottom: none;
    }
  
    .contact-info ul li span {
      font-weight: bold;
      margin-right: 10px;
    }
  
    .my-profile {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.my-profile__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.my-profile__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-profile__item {
  margin-bottom: 10px;
}

.my-profile__link {
  display: block;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.my-profile__link:hover {
  background-color: #ddd;
}

    .profile-photo {
  position: relative;
}

.upload-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.upload-icon label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.upload-icon label i {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.upload-icon input[type="file"] {
  display: none;
}
.card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.card-body {
  padding: 20px;
  background-color: ghostwhite;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1rem;
  margin-bottom: 5px;
  color: darkblue;
}

.card-text {
  color: darkgreen;
  font-size: 1rem;
  margin-bottom: 5px;
}

.btn-info {
  background-color: #15280a;
  border-color: #0a0a0a;
}

.btn-info:hover {
  background-color: #83db92;
  border-color: #0062cc;
}

.btn-info:focus,
.btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.mb-3 {
  margin-bottom: 20px;
}


  </style>
{% endblock %}
{% block offcanvas %}
{% if flag %}
    {% include "base/loggedin.html" %}
    
    {% else %}
    {% include "base/loggedout.html" %}
        
    {% endif %}
{% endblock %}
{% block navigation %}
    {% if flag %}
    {% include "base/loggedin.html" %}
    
    {% else %}
    {% include "base/loggedout.html" %}
        
    {% endif %}
{% endblock %}
{% block content %}
<div >

    <div class=" xs-pd-20-10">
        <div >
            
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30 sidebar">
                    <div class=" profile pd-20 card-box height-100-p">
                      <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-photo">
                          {% if user.image %}
                            <img id="profile-image" src="/media/{{user.image}}" alt="" class="avatar-photo" />
                          {% else %}
                            <img id="profile-image" src="/media/img/profile.png" alt="" class="avatar-photo" />
                          {% endif %}
                          <div class="upload-icon">
                            <label for="image-upload">
                              <i class="icon-copy fa fa-camera" aria-hidden="true"></i>
                            </label>
                            <input id="image-upload" type="file" name="image" accept="image/*">
                          </div>
                          
                        </div>
                      </form>
                      
                          <h5 class="profile-name">{{user.first_name}} {{user.last_name}}</h5>
                        </div>
                        <div class="contact-info">
                            <h5 class="contact-info-title">Contact Information</h5>
                            <ul>
                              <li>
                                <span>Email Address:</span>
                                {{user.email}}
                              </li>
                              <li>
                                <span>Phone Number:</span>
                                {{user.mobile}}
                              </li>
                              <li>
                                <span>Country:</span>
                                {{address.country}}
                              </li>
                              <li>
                                <span>Address:</span>
                                {{address.address}}<br />
                                {{address.city}} {{address.state}} {{address.pincode}}
                              </li>
                            </ul>
                          </div>
                          
                          <nav class="my-profile">
                            <h2 class="my-profile__title">Profile</h2>
                            <ul class="my-profile__list">
                              <li class="my-profile__item"><a href="{% url 'personal_info' %}" class="my-profile__link">Edit Personal Information</a></li>
                              <li class="my-profile__item"><a href="{% url 'customer_account' %}" class="my-profile__link">View Order History</a></li>
                              <li class="my-profile__item"><a href="{% url 'view_addressbook' %}" class="my-profile__link">Manage Address Book</a></li>
                              <li class="my-profile__item"><a href="{% url 'privacy_settings' %}" class="my-profile__link">Privacy Settings</a></li>
                            </ul>
                          </nav>
                          
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                  {% for order in orders %}
                  <div class="card mb-3">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-3 col-sm-12 mb-3 mb-md-0">
                                {% if order.transaction_id in orderitems %}
                                  {% for key, value in orderitems.items %}
                                    {% if key == order.transaction_id %}
                                  <img style="height: 150px;" src="/media/{{value.product_images.first.img}}" alt="Product Image" class="img-fluid">
                                  {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </div>
                              <div class="col-md-9 col-sm-12">
                                  <h5 class="card-title">{{ order.transaction_id }}</h5>
                                  <p class="card-text"><b>Status: {{order.status}}</b></p>
                                  <p class="card-text">Price: {{order.get_grand_total}}</p>
                                  <p class="card-text">Order Date: {{order.date_ordered}}</p>
                                  <a href="{% url 'order_details' order.uid  %}" class="btn btn-info">View Details</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  <div>
                    {% if orders.has_other_pages %}
                    <div class="pagination">
                        {% if orders.has_previous %}
                            <a href="?page=1" class="page-link">&laquo; First</a>
                            <a href="?page={{ orders.previous_page_number }}" class="page-link">&lsaquo; Previous</a>
                        {% endif %}
        
                        {% for i in orders.paginator.page_range %}
                            {% if orders.number == i %}
                                <span class="page active">{{ i }}</span>
                            {% else %}
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
        
                        {% if orders.has_next %}
                            <a href="?page={{ orders.next_page_number }}" class="page-link">Next &rsaquo;</a>
                            <a href="?page={{ orders.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                        {% endif %}
                    </div>
                {% endif %}
                  </div>
              </div>
              
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  const profileImage = document.getElementById('profile-image');
  const imageUpload = document.getElementById('image-upload');

  imageUpload.addEventListener('change', () => {
    const file = imageUpload.files[0];
    const formData = new FormData();
    formData.append('image', file);

    fetch('/update-profile/', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken' : csrftoken,
      }
    })
      .then(response => response.json())
      
      .then(data => {
        profileImage.src = `/media/${data.image}`;
        location.reload(); 
      })
      .catch(error => {
        console.error(error);
      });
  });
</script>

{% endblock %}